<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Auto Hunt FC Online v2.0</title>
  </head>
  <body>
    <header>
      <div class="header-left">
        <a href="#">
          <img src="/assets/img/logo.jpeg" alt="" />
        </a>
        <nav>
          <ul>
            <li>Auto DS yêu thích</li>
            <li>Auto DS của tôi</li>
          </ul>
        </nav>
      </div>

      <div class="header-right">
        <span>Tác giả: Nguyễn Phan Vũ</span>
      </div>
    </header>

    <main></main>

    <footer>&copy; Bản quyền thuộc về Nguyễn Phan Vũ năm 2024</footer>
  </body>
</html>
